<div class="row text-center">
  <table class="table">
    <tr id="first-row">
      <th>
        Recipe Name
      </th>
      <th>
        Rating
      </th>
    </tr>
    <% @recipes.each do |r| %>
      <tr>
        <td>
          <a href="/recipes/<%= r.id %>">
            <%= r.name %>
          </a>
        </td>
        <td>
          <%= r.rating %>
        </td>
      </tr>
    <% end %>
    <tr>
      <form class="form" action="/recipes/new" method="post">
        <td width="90%">
          <input class="form-control" type="text" name="name" placeholder="Create a Recipe" required>
        </td>
        <td width="90%">
          <button class="form-control" name="submit" type="submit">+</button>
        </td>
      </form>
    </tr>
  </table>
</div>
